* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width: 600px) {
    header {
        display: none;
    }
}
@media (min-width: 601px) {
    #home-anchor {
        display: block;
        height: 67px;
        margin-top: -67px;
    }
}
version {
    font-size: 15px;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    z-index: 999;
}
.popup-box {
    color: deepskyblue;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 400px;
    box-shadow: 0 0 15px cyan, 0 0 40px rgba(0, 255, 255, 0.5);
    animation: popIn 0.3s ease;
    animation: glow 2s infinite;
}
.popup-box h1 {
    margin-bottom: 15px;
}
.popup-box p {
    font-size: 20px;
}
.popup-box button {
    margin-top: 15px;
    padding: 8px 20px;
    border: white 2px solid;
    border-radius: 12px;
    background: none;
    color: deepskyblue;
    cursor: pointer;
}
@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 1;
    }
}
@keyframes glow {
    0% { box-shadow: 0 0 10px cyan;}
    50% { box-shadow: 0 0 25px cyan;}
    100% { box-shadow: 0 0 10px cyan;}
}

html {
    scroll-behavior: smooth;
    font-family: "CustomFont1";
}


header {
    position: sticky;
    top: 0%;
}


nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    padding: 15px 100px 15px 100px;
}
.nav-start {
    color: deepskyblue;
    font-size: clamp(15px, 3vw, 30px);
}
.nav-start,
.nav-end {
    display: flex;
    gap: 50px;
    font-weight: bold;
}
.nav-end a {
    color: white;
    text-decoration: none;
    font-size: clamp(15px, 3vw, 21px);
    padding-bottom: 10px;
    transition: color 0.5s ease, border-color 0.5s ease;
}
nav a.active {
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
}
nav a:hover {
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
}


section {
    height: 100vh;
    font-size: clamp(20px, 3vw, 30px);
    font-weight: bold;
    scroll-margin-top: 67px;
}
#home,
#about,
#education,
#projects,
#skills,
#contact {
    background: linear-gradient(45deg, #000000, #000000cb, #000000);
    background-size: 200% 200%;
    animation: gradientShift 10s ease infinite;
}
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.hhero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: center;
    gap: 10px;
}
.hhero .hintro {
    font-size: clamp(30px, 4vw, 60px); 
    color: deepskyblue;
}
.hhero .hdesc {
    font-size: clamp(15px, 4vw, 30px);
    color: white;
}
.hhero .hbuttons {
    display: flex;
    gap: clamp(10px, 3vw, 20px);
    padding-top: 10px;
}
.hhero .hbuttons a {
    border: 3px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    padding: clamp(5px, 3vw, 10px) clamp(10px, 3vw, 20px);
    font-size: clamp(5px, 3vw, 25px);
}
.hhero .hbuttons .download {
    border-color: deepskyblue;
    color: deepskyblue;
}
.hhero .hbuttons .download:hover {
    background-color: deepskyblue;
    border-color: white;
    color: white;
}
.hhero .hbuttons a:hover {
    color: deepskyblue;
    border-color: deepskyblue;
}
.hhero .hintro,
.hhero .hdesc {
    display: block;
    height: auto;
}




.ahero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.aintro {
    color: deepskyblue;
    font-size: clamp(30px, 4vw, 60px);
    margin-bottom: 50px;
}
.abody {
    color: white;
    max-width: 80%;
}
.abody a {
    color: white;
}
.abody a:hover {
    color: cyan;
}
.abody p {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 20px;
}
.divider {
    width: 60px;
    height: 3px;
    background-color: deepskyblue;
    border: none;
    margin: 10px auto 0 auto;
    border-radius: 2px;
}




.ehero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.eintro {
    color: deepskyblue;
    font-size: clamp(30px, 4vw, 60px);
    margin-bottom: 50px;
}
.ebody {
    color: white;
    max-width: 80%;
}
.ebody pIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: cyan;
    margin-bottom: 10px;
}
.ebody pSchool {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    color: skyblue;
}
.subjects {
    font-size: 25px;
    margin-bottom: 20px;
}
.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.BSS {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ITE {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ITEcca {
    display: flex;
    align-items: flex-start;
    gap: 55px;
    margin-left: 150px;
}
.ITElabel {
    width: 45px;
    font-weight: bold;
}
.ITEitems {
    display: inline-block;
}
.BSScca {
    display: flex;
    flex-direction: center;
    gap: 55px;
}
.BSSlabel {
    width: 45px;
    font-weight: bold;
}
.BSSitems {
    display: inline-block;
}
.rank {
    display: block;
    margin-left: 15px;
}
.sub-rank {
    display: block;
    margin-left: 30px;
}
.details {
    display: block;
    margin-left: 15px;
}
.sub-details {
    display: block;
    margin-left: 30px;
    margin-bottom: 2dvh;
}





.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}
.container1,
.container2 {
    height: 100vh;
}
.container1 {
    border-right: 1px solid white;
    color: white;
}
.container2 {
    border-left: 1px solid white;
    color: white;
}

.ptitle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px auto 0 auto;
    padding-bottom: 10px;
    max-width: 20%;
    border-bottom: 2px solid white;
}
.ptitle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px auto 0 auto;
    padding-bottom: 10px;
    max-width: 30%;
    border-bottom: 2px solid white;
}
.pbody1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 90%;
    height: 85vh;
}
.pbody1 p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.pbody1 a {
    color: deepskyblue;
}

.pbody2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 90%;
    height: 85vh;
}
.pbody2 p {
    line-height: 1.6;
    margin-bottom: 20px;
}